<h1>KPT index</h1>

<ul>
  <%= render "layouts/flash_error", object: @kpts %>
  <% @kpts.each do |kpt| %>
    <li>
      <%= kpt.title %>
      <%= link_to "Show", kpt_path(kpt.id) %>
      <%= link_to "Edit", edit_kpt_path(kpt.id) %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Top", kpts_path %></p>
<p><%= link_to "New KPT Project", new_kpt_path %></p>
