<h1><%= @kpt.title %></h1>

<p>Keep</p>
<ul>
  <% @kpt.keep_items.each do |keep| %>
    <li>
      <%= keep.title %>
      <small><%= keep.description %></small>
    </li>
  <% end %>
</ul>

<p>Problem</p>
<ul>
  <% @kpt.problem_items.each do |problem| %>
    <li>
      <%= problem.title %>
      <small><%= problem.description %></small>
    </li>
  <% end %>
</ul>

<p>Try</p>
<ul>
  <% @kpt.try_items.each do |try| %>
    <li>
      <%= try.title %>
      <small><%= try.description %></small>
    </li>
  <% end %>
</ul>

<%= link_to "Delete this KPT project", kpt_path(@kpt.id), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
